@model MileniApp.Models.Cliente

@{
    ViewBag.Title = "Cliente";
}

<h2>Cliente</h2>

<p>Codigo: @Model.ClienteID</p>
<p>Nome: @Model.ClieteNome</p>
<p>CPF: @Model.Cpf</p>
<p>RG: @Model.RG - @Model.DigRg</p>
<p>Telefone: @Model.ClieteTel</p>

