@model MileniApp.Models.Colaborador
@{
    ViewBag.Title = "Listar";
}

<h2>Colaborador</h2>
<fieldset>
    <div>
        @Html.DisplayNameFor(m => m.ColabId)
    </div>
    <div>
        @Html.DisplayFor(m => m.ColabId)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.NomeColab)
    </div>
    <div>
        @Html.DisplayFor(m => m.NomeColab)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.NascColab)
    </div>
    <div>
        @Html.DisplayFor(m => m.NascColab)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.ObsColab)
    </div>
    <div>
        @Html.DisplayFor(m => m.ObsColab)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.EmailColab)
    </div>
    <div>
        @Html.DisplayFor(m => m.EmailColab)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.LoginColab)
    </div>
    <div>
        @Html.DisplayFor(m => m.LoginColab)
    </div>

</fieldset>


